<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="adobereader" />
   <package id="chocolatey" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-fastanswers.extension" />
   <package id="chocolatey-misc-helpers.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="docker-desktop" />
   <package id="exercism-io-cli" />
   <package id="git" />
   <package id="git.install" />
   <package id="greenshot" />
   <package id="instchoco" />
   <package id="kicad" />
   <package id="nodejs" />
   <package id="nodejs.install" />
   <package id="paint.net" />
   <package id="powershell-core" />
   <package id="putty" />
   <package id="putty.portable" />
   <package id="sysinternals" installArguments="/InstallDir:C:\Tools\sysinternals" />
   <package id="treesizefree" />
   <package id="vscode" />
   <package id="windirstat" />
</packages>
